<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="contenedor-1">
            <div class="contenido1">
                <h2>Check The<br/> Best Food</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores numquam laboriosam fugit
                    accusantium, harum dolorum eius quod soluta vero obcaecati eos animi corrupti reprehenderit, debitis
                    dicta aut omnis exercitationem temporibus.</p>
                <button class="primary">Antojate -></button>
            </div>
            <div class="contenido2">
                <img src="../images/hero.png" alt="" class="logo">
            </div>
        </div>
            <h1><center>OUR SERVICES</center></h1>
        <div class="contenedor-2">
            
                <img src="../images/video.png" alt="" class="item1">
                <img src="../images/dish1.png" alt="" class="item2">
                <img src="../images/dish2.png" alt="" class="item3">
                <img src="../images/dish3.png" alt="" class="item4">
                <img src="../images/dish4.png" alt="" class="item5">
            
        </div>
        <h1><center>Home Menu</center></h1>
        <div class="contenedor-3">
            <img src="../images/plate1.png" alt="">
            <img src="../images/plate2.png" alt="">
            <img src="../images/plate3.png" alt="">
            <img src="../images/plate4.png" alt="">
            <img src="../images/plate5.png" alt="">
        </div>
    </main>
</body>

</html>