<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/edit_account.css">
    <title>Document</title>
</head>
<body>
    <div class="login"> 

            
        <div class="form-container">
            <h1 class="title">My account</h1>
            
            
            <form action="/" class="form">
                <label for="user" class="label">Name</label>
                <input type="text" class="input" placeholder="camilayokoo@gmail.com">

                <label for="email" class="label">Email address</label>
                <input type="email" class="input" placeholder="camilayokoo@gmail.com">

                <label for="password" class="label">Passsword</label>
                <input type="password" class="input" placeholder="**************">

                <input type="submit" value="Save" class="primary login-button">
            </form>
          
        </div>
    </div>
</body>
</html>